*, *::after, *::before 
{ margin: 0; padding: 0; box-sizing: border-box; }
html, body 
{ height: 100%; }
body 
{ background: #141414; color: #bebebe; }
.colours{
    color: #141414; color: #313131; color: #575757; color: #aaaaaa; color: #bebebe; color: #dfdfdf;
    --far_background: #141414; --close_background: #313131; --active_background: #575757; --bright_white: #aaaaaa; --text_active: #bebebe; --text_regular: #dfdfdf;
}

section{
    margin: 50px;

}

.accordeon_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin: 0;
    color: #dfdfdf;
    background-color: #313131;
    cursor: pointer;
    font-size: 30px;

    border-bottom: 2px #bebebe solid;

}

.accordeon_title::after{
    content: '\25BC';
    font-size: 20px;
    transform: transform 0.3 ease;

}

.accordeon_text{
    padding: 0px 10px;
    font-size: 14px;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    opacity: 0; 

}

.accordeon_title__active::after{
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.accordeon_item__visible{
    /*padding-top: 10px;
    padding-bottom: 10px;*/
    opacity: 1;

}